$green: #169E49;

.hundred-days {
  position: relative;

  &__dots {

  }
  &__image {
    background-color: tomato;
    height: 66vw;
    opacity: 0.2;
    @include mq(tablet) {
      position: absolute;
      height: auto;
      right: 0;
      top: 0;
      bottom: 0;
      width: 400px;
    }
  }
  &__logo {
    position: absolute;
    bottom: 3px; // =12
    right: 10px;
    .standard {
      display: none;
    }
    .reversed {

    }
  }

  &__headline {
    $left-space: 78px;
    background-color: $green;
    color: #fff;
    font-family: "Guardian Headline Full","Guardian Egyptian Web",Georgia,serif;
    font-size: 54px;
    line-height: 49px;
    font-weight: 100;
    padding-left: 85px;
    &__line {
      &.number {
        position: absolute;
        right: calc(100vw - #{$left-space} + 4px);
        @include mq(tablet) {
          left: 15px;
        }
      }
      &.days {

      }
      &.to-save {

      }
      &.the {
        display: inline-block;
      }
      &.world {
        display: inline-block;
      }
    }
  }

  &__copy {
    background-color: $green;
    color: #fff;
    padding: 18px 10px 12px;
    p {
      font-family: "Guardian Text Egyptian Web",Georgia,serif;
      font-size: 14px;
      line-height: 18px;
      strong {
        font-weight: bold;
      }
    }
    .class-name__component-button {
      @include component-button($bgColor: $neutral-7, $color: #fff, $hoverBgColor: $neutral-46);
    }
  }

  &__roundel {
    @include roundel-top-right;
  }
}

