.counter {
  white-space: nowrap;
  padding-right: 0.3em;

  .digit {
    width: 0.7em;
    text-align: center;
    height: 1em;
    overflow: hidden;
    display: inline-block;
    white-space: normal;
    margin-right: -0.3em;
    line-height: 1em;

    .position {
      transition: all 160ms ease-in-out;
      transform: translateY(0);
      margin-top: -0.03em;
      &.digit-b {
        opacity: 0;
      }
    }

    &[data-position='0'] .position {
      transform: translateY(0em);
      &.position-0 {
        opacity: 1;
      }
    }

    &[data-position='1'] .position {
      transform: translateY(-1em);
      &.position-1 {
        opacity: 1;
      }
    }

    &[data-position='2'] .position {
      transform: translateY(-2em);
      &.position-2 {
        opacity: 1;
      }
    }

    &[data-position='3'] .position {
      transform: translateY(-3em);
      &.position-3 {
        opacity: 1;
      }
    }

    &[data-position='4'] .position {
      transform: translateY(-4em);
      &.position-4 {
        opacity: 1;
      }
    }

    &[data-position='5'] .position {
      transform: translateY(-5em);
      &.position-5 {
        opacity: 1;
      }
    }

    &[data-position='6'] .position {
      transform: translateY(-6em);
      &.position-6 {
        opacity: 1;
      }
    }

    &[data-position='7'] .position {
      transform: translateY(-7em);
      &.position-7 {
        opacity: 1;
      }
    }

    &[data-position='8'] .position {
      transform: translateY(-8em);
      &.position-8 {
        opacity: 1;
      }
    }

    &[data-position='9'] .position {
      transform: translateY(-9em);
      &.position-9 {
        opacity: 1;
      }
    }

  }
}
