.counter {
  white-space: nowrap;
  margin-left: -0.1em;
  opacity: 0;
  &.set {
    transition: opacity 100ms ease-out;
    opacity: 1;
  }

  .digit {
    // border: 1px solid red;
    width: 0.7em;
    text-align: center;
    height: 1em;
    overflow: hidden;
    display: inline-block;
    white-space: normal;
    margin-right: -0.27em;
    @include mq(desktop) {
      margin-right: -0.23em;
    }
    line-height: 1em;
    font-variant-numeric: lining-nums;


    .position {
      transition: transform 90ms ease-in-out, opacity 90ms ease-in-out;
      transform: translateY(0);
      margin-top: -0.03em;
    }

    &.last-frame .position {
      transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
    }

    &.digit-2 {
      margin-right: -0.33em;
      @include mq(desktop) {
        margin-right: -0.29em;
      }
    }

    &[data-position='0'] .position {
      transform: translateY(-0.05em);
      animation-name: resetZero;
      animation-delay: 90ms;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;

      &.position-0 {
        opacity: 1;
      }
    }

    &.digit-2[data-position='0'],
    &.digit-2[data-position='00'] {
      .position-0,
      .position-00 {
        opacity: 0;
      }
    }

    &[data-position='1'] .position {
      transform: translateY(-1em);
      &.position-1 {
        opacity: 1;
      }
    }

    &[data-position='2'] .position {
      transform: translateY(-1.97em);
      &.position-2 {
        opacity: 1;
      }
    }

    &[data-position='3'] .position {
      transform: translateY(-2.94em);
      &.position-3 {
        opacity: 1;
      }
    }

    &[data-position='4'] .position {
      transform: translateY(-3.91em);
      &.position-4 {
        opacity: 1;
      }
    }

    &[data-position='5'] .position {
      transform: translateY(-4.9em);
      &.position-5 {
        opacity: 1;
      }
    }

    &[data-position='6'] .position {
      transform: translateY(-5.85em);
      &.position-6 {
        opacity: 1;
      }
    }

    &[data-position='7'] .position {
      transform: translateY(-6.83em);
      &.position-7 {
        opacity: 1;
      }
    }

    &[data-position='8'] .position {
      transform: translateY(-7.79em);
      &.position-8 {
        opacity: 1;
      }
    }

    &[data-position='9'] .position {
      transform: translateY(-8.77em);
      &.position-9 {
        opacity: 1;
      }
    }

    &[data-position='00'] .position {
      transform: translateY(-9.74em);
      transition: none;
      &.position-00 {
        opacity: 1;
      }

    }

    @keyframes resetZero {
      0% {
        transform: translateY(-0.05em);
      }
      50% {
        transform: translateY(-0.05em);
      }
      51% {
        transform: translateY(-9.74em);
      }
      100% {
        transform: translateY(-9.74em);
      }
    }

  }
}
