.hundred-days__image__earth {
  transform-origin: bottom center;

  animation-name: wobbleGlobe;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 2.4s;
  animation-timing-function: ease-in-out;
}

@keyframes wobbleGlobe {
  0% {
    transform: rotate(1.5deg);
  }
  100% {
    transform: rotate(-0.8deg);
  }
}


