.hundred-days {
  position: relative;
  font-family: "Guardian Headline Full","Guardian Egyptian Web",Georgia,serif;
  @include mq(tablet) {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
  }
  &__headline {
    background-color: tomato;
    .number,
    .copy {
      position: absolute;
      top: 10px;
    }
    .number {
      top: -9px;
      font-family:"GuardianTitlepiece","Guardian Headline Full","Guardian Egyptian Web",Georgia,serif;
      font-size: 76px;
      left: 3px;
      @include mq(360px) {
        left: 5px;
        font-size: 86px;
      }
      @include mq(tablet) {
        font-size: 108px;
        top: -12px;
        left: auto;
        right: 510px;
      }
      @include mq(desktop) {
        font-size: 162px;
        right: 700px;
        top: -20px;
      }
      @include mq(leftCol) {
        right: 690px;
      }
      @include mq(wide) {
        right: 780px;
      }

    }

    .copy {
      font-size: 36px;
      line-height: 36px;
      font-weight: 100;

      left: 9px;
      top: 70px;

      @include mq(360px) {
        left: 156px;
        top: 7px;
      }
      @include mq(tablet) {
        left: 268px;
        width: 260px;
        font-size: 46px;
        line-height: 1;
      }
      @include mq(desktop) {
        left: 340px;
        width: 360px;
        font-size: 65px;
        line-height: 1.06;
      }
      @include mq(leftCol) {
        left: 500px;
      }
      @include mq(wide) {
        left: 570px;
      }
    }
  }


  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #EFECE9;
    background-image: url(https://uploads.guim.co.uk/2020/07/23/background.jpg);
    z-index: -10;
  }

  &__image {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &,
    &__earth,
    &__hand,
    &__green-dot {
      position: absolute;
    }
    &__earth {
      width: 250px;
      right: -99px;
      bottom: 93px;
      @include mq(tablet) {
        right: -8px;
        bottom: 97px;
      }
      @include mq(desktop) {
        width: 314px;
        bottom: 95px;
      }
      @include mq(wide) {
        right: 72px;
      }
    }
    &__hand {
      bottom: -3px;
      right: -2px;
      z-index: -8;
      @include mq(tablet) {
        right: 94px;
        bottom: 0;
      }
      @include mq(desktop) {
        right: 127px;
      }
      @include mq(wide) {
        right: 211px;
      }
    }
    &__green-dot {
      z-index: -9;
      &.big {
        bottom: 71px;
        right: 54px;
        @include mq(tablet) {
          right: 124px;
          bottom: 80px;
        }
        @include mq(desktop) {
          right: 197px;
          bottom: 74px;
        }
        @include mq(wide) {
          right: 290px;
        }
      }
      &.small {
        width: 29px;
        bottom: 35px;
        right: 42px;
        @include mq(tablet) {
          right: 136px;
          bottom: 34px;
        }
        @include mq(desktop) {
          right: 171px;
          bottom: 30px;
        }
        @include mq(wide) {
          bottom: 24px;
          right: 196px;
        }
      }

    }
  }

  &__copy {
    padding: 160px 10px 94px 10px;
    font-family: "Guardian Text Egyptian Web",Georgia,serif;
    font-size: 15px;
    line-height: 20px;

    @include mq(360px) {
      padding-top: 90px;
    }

    @include mq(tablet) {
      padding-top: 112px;
      padding-left: 20px;
      padding-right: 240px;
      padding-bottom: 12px;
      display: flex;
      flex-direction: row;
    }
    @include mq(desktop) {
      padding-right: 340px;
      padding-top: 160px;
    }
    @include mq(leftCol) {
      padding-left: 190px;
      padding-right: 350px;
    }
    @include mq(wide) {
      padding-left: 270px;
      padding-right: 440px;
    }


    &__fact {
      font-weight: bold;
      margin-right: 60px;
      position: relative;
      @include mq(mobileLandscape) {
        margin-right: 120px;
      }
      @include mq(tablet) {
        // border: 1px solid tomato;
        margin: 0;
        width: 50%;
        margin-right: 20px;
        margin-bottom: 24px;
      }

      display: none;
      &.has-fact {
        display: block;
      }

    }

    &__support {
      margin-top: 44px;
      margin-right: 132px;
      position: relative;
      padding-bottom: 36px;
      .has-fact+& {
        padding-bottom: 0;
      }

      &:before {
        content: '';
        position: absolute;
        top: -5px;
        left: -1px;
        width: 165px;
        height: 1px;
        background-color: #121212;
        opacity: 0.8;
        @include mq(tablet) {
          display: none;
          .has-fact+& {
            display: block;
          }
          top: 5px;
          left: -10px;
          width: 1px;
          bottom: -12px;
          height: auto;
        }
      }
      a {
        text-decoration: underline;
        .ios &,
        .android & {
          text-decoration: none;
          color: inherit;
        }
      }

      @include mq(mobileLandscape) {
        margin-right: 160px;
      }

      @include mq(tablet) {
        // border: 1px solid tomato;
        margin: 0;
        width: 50%;
      }
      @include mq(leftCol) {
        padding-bottom: 2px;
      }
    }

    .class-name__component-button {
      margin-left: -4px;
      @include component-button($bgColor: $neutral-7, $color: #fff, $hoverBgColor: $neutral-46);
      span {
        margin-top: 0;
        white-space: nowrap;
      }
      margin-top: 12px;
    }

  }

  &__logo {
    position: absolute;
    bottom: 4px;
    left: 10px;
    svg {
      width: 69px;
      height: 32px;
    }
    @include mq(tablet) {
      left: 20px;
      bottom: 6px;
      svg {
        width: 45px;
        height: 21px;
      }
    }
    @include mq(leftCol) {
      left: 20px;
      bottom: auto;
      top: 10px;
      svg {
        width: 80px;
        height: 38px;
      }
    }
  }

  &__roundel {
    position: absolute;
    bottom: 8px;
    right: 88px;
    path:nth-child(1) {
      fill: #169E49;
    }
    @include mq(tablet) {
      right: 20px;
    }
  }
}

