.hundred-days {
  .class-name__component-button {
    &.app {
      display: none;
    }

    .ios &,
    .android & {
      &.app {
        display: inline-flex;
      }
      &.web {
        display: none;
      }
    }

  }

  .ios &,
  .android & {
    .web-more {
      display: none;
    }
  }
}
