.hundred-days {
  position: relative;
  font-family: "Guardian Headline Full","Guardian Egyptian Web",Georgia,serif;

  @include mq(tablet) {
    width: 100%;
  }

  &__headline {
    padding: 12px 10px;
    font-size: 36px;
    line-height: 36px;

    @include mq(mobileLandscape) {
      padding: 12px 20px;
    }

    .number {
      font-family:"GuardianTitlepiece","Guardian Headline Full","Guardian Egyptian Web",Georgia,serif;

      .digit-2 {
        &[data-position='0'] {
          width: 0.25em;
          transition: all 360ms ease-in-out;
          transition-delay: 90ms;
        }
      }
    }

    .copy {
      font-weight: 100;
      margin-top: -8px;
    }
  }


  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #159E49;
    z-index: -10;
  }

  &__image {
    display: none;
  }

  &__copy {
    font-family: "Guardian Text Egyptian Web", "Guardian Headline Full","Guardian Egyptian Web",Georgia,serif;
    font-size: 15px;
    line-height: 20px;
    padding: 0 10px 22px;
    @include mq(mobileLandscape) {
      padding: 0 20px 22px;
    }

    &__support {
      a {
        text-decoration: underline;
        .ios &,
        .android & {
          text-decoration: none;
          color: inherit;
        }
      }

    }

    &__fact {
      display: none;
    }


    .class-name__component-button {
      margin-left: -3px;
      margin-top: 9px;
      @include component-button($bgColor: $neutral-7, $color: #fff, $hoverBgColor: $neutral-46);
      white-space: nowrap;
      span {
        margin-top: 0;
      }
    }

  }

  &__logo {
    position: absolute;
    bottom: 20px;
    right: 10px;
    svg {
      width: 69px;
      height: 32px;
      path:nth-child(1) {
        stroke: #fff;
        stroke-width: 0.6px;
        z-index: 2;
        position: relative;
      }
    }
    @include mq(mobileLandscape) {
      right: 19px;
    }
  }

  &__roundel {
    position: absolute;
    top: 9px;
    right: 9px;
    width: 36px;
    height: 36px;
    path:nth-child(1) {
      fill: #121212;
    }
    @include mq(mobileLandscape) {
      right: 19px;
    }
  }
}

