.hundred-days {
  position: relative;
  font-family: "Guardian Headline Full","Guardian Egyptian Web",Georgia,serif;

  @include mq(tablet) {
    width: 100%;
  }

  &__headline {
    padding: 8px 10px;
    font-size: 36px;
    line-height: 36px;

    @include mq(mobileLandscape) {
      padding: 8px 20px;
    }
    @include mq(desktop) {
      padding-bottom: 4px;
    }
    @include mq(leftCol) {
      padding-left: 180px;
    }
    @include mq(wide) {
      padding-left: 260px;
    }

    .number {
      font-family:"GuardianTitlepiece","Guardian Headline Full","Guardian Egyptian Web",Georgia,serif;
      @include mq(desktop) {
        display: inline-block;
      }
      .digit-2 {
        &[data-position='0'] {
          width: 0.25em;
          transition: all 360ms ease-in-out;
          transition-delay: 90ms;
        }
      }
    }

    .copy {
      font-weight: 100;
      margin-top: -8px;
      @include mq(desktop) {
        display: inline-block;
        position: relative;
        bottom: 7px;
        left: 6px;
      }
    }
  }


  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #159E49;
    z-index: -10;
  }

  &__image {
    display: none;
  }

  &__copy {
    font-family: "Guardian Text Egyptian Web", "Guardian Headline Full","Guardian Egyptian Web",Georgia,serif;
    font-size: 15px;
    line-height: 20px;
    padding: 0 10px 22px;
    @include mq(mobileLandscape) {
      padding: 0 20px 22px;
    }
    @include mq(desktop) {
      padding: 0 20px 12px;
    }
    @include mq(leftCol) {
      padding-left: 180px;
    }
    @include mq(wide) {
      padding-left: 260px;
    }

    &__support {
      a {
        text-decoration: underline;
        @include mq(desktop) {
          text-decoration: none;
          border-bottom: 1px solid rgba(0,0,0,0.5);
          &:hover {
            border-color: #121212;
          }
        }
        .ios &,
        .android & {
          text-decoration: none;
          color: inherit;
        }
      }

    }

    &__fact {
      display: none;
    }


    .class-name__component-button {
      margin-left: -3px;
      margin-top: 9px;
      @include component-button($bgColor: $neutral-7, $color: #fff, $hoverBgColor: $neutral-46);
      white-space: nowrap;
      span {
        margin-top: 0;
      }
      @include mq(desktop) {
        position: absolute;
        margin: 0;
        top: 6px;
        left: 434px;
      }
      @include mq(leftCol) {
        left: 594px;
      }
      @include mq(wide) {
        left: 674px;
      }
    }

  }

  &__logo {
    position: absolute;
    bottom: 20px;
    right: 10px;
    svg {
      width: 69px;
      height: 32px;
      path:nth-child(1) {
        stroke: #fff;
        stroke-width: 0.6px;
        z-index: 2;
        position: relative;
      }
    }
    @include mq(mobileLandscape) {
      right: 19px;
    }
    @include mq(desktop) {
      bottom: 4px;
    }
    @include mq(leftCol) {
      bottom: auto;
      right: auto;
      left: 20px;
      top: 9px;
    }
  }

  &__roundel {
    position: absolute;
    top: 6px;
    right: 9px;
    width: 36px;
    height: 36px;
    path:nth-child(1) {
      fill: #121212;
    }
    @include mq(mobileLandscape) {
      right: 19px;
    }
    @include mq(desktop) {
      top: 7px;
    }
  }
}

