<!-- thrasher content sits in this div -->
<div class="hundred-days-thrasher hundred-days full">


    <!-- new -->

    <div class='hundred-days__background'></div>

    <div class='hundred-days__image'>
        <img class='hundred-days__image__earth' src='https://uploads.guim.co.uk/2020/07/23/earth.png'>
        <!-- <img class='hundred-days__image__earth' src='https://uploads.guim.co.uk/2020/07/24/globe-nogreen.min.png'> -->
        <img class='hundred-days__image__hand' src='https://uploads.guim.co.uk/2020/07/23/hand.png'>
        <img class='hundred-days__image__green-dot big' src='https://uploads.guim.co.uk/2020/07/23/green_dot.png'>
        <img class='hundred-days__image__green-dot small' src='https://uploads.guim.co.uk/2020/07/23/green_dot.png'>
    </div>

    <div class='hundred-days__copy'>
        <div class='hundred-days__copy__fact'>
            <p data-sheet='fact'></p>
            <a class='source'>Source</a>
        </div>
        <div class='hundred-days__copy__support'>
            <p>The US is set to exit the Paris climate agreement on 4 Nov. <span class='web-more'><a href='https://theguardian.com/us-news/series/climate-countdown' data-link-name="100 days : thrasher : read more link">Read more</a> about what’s at stake.</span></p>

            <a href="https://support.theguardian.com/contribute?acquisitionData=%7B%22source%22%3A%22GUARDIAN_WEB%22%2C%22componentType%22%3A%22ACQUISITIONS_THRASHER%22%2C%22componentId%22%3A%22thrasher_launch_100days%22%2C%22campaignCode%22%3A%22thrasher_launch_100days%22%7D&INTCMP=thrasher_launch_100days" title="" class="class-name__component-button web" data-link-name="100 days : thrasher : cta web">
                <span>Make a contribution</span>
                <svg class="class-name__icon" width="24" height="22" viewBox="0 0 24 22" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 12.0046H19.6395L11.9377 21.0205L12.939 22L23.6444 11.5023V10.4977L12.939 0L11.9377 0.979452L19.6395 9.99543H0V12.0046Z"></path>
                </svg>
            </a>

            <a href="https://support.theguardian.com/contribute?acquisitionData=%7B%22source%22%3A%22GUARDIAN_WEB%22%2C%22componentType%22%3A%22ACQUISITIONS_NUGGET%22%2C%22componentId%22%3A%22embed_launch_100days%22%2C%22campaignCode%22%3A%22embed_launch_100days%22%7D&INTCMP=embed_launch_100days" title="" class="class-name__component-button embed" data-link-name="100 days : thrasher : cta embed">
                <span>Make a contribution</span>
                <svg class="class-name__icon" width="24" height="22" viewBox="0 0 24 22" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 12.0046H19.6395L11.9377 21.0205L12.939 22L23.6444 11.5023V10.4977L12.939 0L11.9377 0.979452L19.6395 9.99543H0V12.0046Z"></path>
                </svg>
            </a>

            <a href="https://theguardian.com/us-news/series/climate-countdown" title="" class="class-name__component-button app" data-link-name="100 days : thrasher : cta app">
                <span>Read more</span>
                <svg class="class-name__icon" width="24" height="22" viewBox="0 0 24 22" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 12.0046H19.6395L11.9377 21.0205L12.939 22L23.6444 11.5023V10.4977L12.939 0L11.9377 0.979452L19.6395 9.99543H0V12.0046Z"></path>
                </svg>
            </a>
        </div>
    </div>


    <div class='hundred-days__logo'>
        <a href='https://www.theguardian.com/us-news/series/climate-countdown' data-link-name='logo click'>
            <svg width="45" height="22" viewBox="0 0 45 22" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd">
                    <path d="M10.188 10.706c0-5.792 4.695-10.488 10.488-10.488 5.793 0 10.489 4.696 10.489 10.488 0 5.794-4.696 10.49-10.49 10.49-5.792 0-10.487-4.696-10.487-10.49" fill="#169E49" />
                    <path fill="#293678" d="M0 20.284l3.27-.99V3.702L0 4.495v-.76L6.738.466h2.577v18.829l3.17.99v.562H0z" />
                    <path d="M24.32.876c3.988 1.48 6.83 5.319 6.83 9.822l-.005.283c-.115 4.337-2.867 8.017-6.713 9.494-3.988-1.479-6.83-5.317-6.83-9.82 0-4.456 2.784-8.262 6.707-9.775z" fill="#293678" opacity=".5" />
                    <path d="M33.93 0C28.148 0 23.46 4.69 23.46 10.472c0 5.784 4.688 10.472 10.472 10.472 5.783 0 10.472-4.688 10.472-10.472C44.403 4.69 39.714 0 33.93 0" fill="#293678" />
                </g>
            </svg>
        </a>
    </div>

    <div class='hundred-days__headline'>
        <div class='hundred-days__headline__line number counter'>
            <div class='digit digit-2' data-position='1'>
                <div class='position position-0'>0</div>
                <div class='position position-1'>1</div>
                <div class='position position-2'>2</div>
                <div class='position position-3'>3</div>
                <div class='position position-4'>4</div>
                <div class='position position-5'>5</div>
                <div class='position position-6'>6</div>
                <div class='position position-7'>7</div>
                <div class='position position-8'>8</div>
                <div class='position position-9'>9</div>
                <div class='position position-00'>0</div>
            </div>
            <div class='digit digit-1' data-position='0'>
                <div class='position position-0'>0</div>
                <div class='position position-1'>1</div>
                <div class='position position-2'>2</div>
                <div class='position position-3'>3</div>
                <div class='position position-4'>4</div>
                <div class='position position-5'>5</div>
                <div class='position position-6'>6</div>
                <div class='position position-7'>7</div>
                <div class='position position-8'>8</div>
                <div class='position position-9'>9</div>
                <div class='position position-00'>0</div>
            </div>
            <div class='digit digit-0' data-position='0'>
                <div class='position position-0'>0</div>
                <div class='position position-1'>1</div>
                <div class='position position-2'>2</div>
                <div class='position position-3'>3</div>
                <div class='position position-4'>4</div>
                <div class='position position-5'>5</div>
                <div class='position position-6'>6</div>
                <div class='position position-7'>7</div>
                <div class='position position-8'>8</div>
                <div class='position position-9'>9</div>
                <div class='position position-00'>0</div>
            </div>
        </div>
        <div class='hundred-days__headline__line copy'>Days to save the Earth</div>
    </div>

    <!-- black background roundel -->
    <svg class="hundred-days__roundel" width="42" height="42" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
        <g fill="none" fill-rule="evenodd">
            <path d="M21 0C9.402 0 0 9.402 0 21c0 11.597 9.402 21 21 21s21-9.403 21-21C42 9.402 32.598 0 21 0" fill="#121212" />
            <path d="M24.15 5.269c3.287.423 6.887 2.245 8.296 3.537v5.942h-.743l-7.553-8.82v-.659zM22.57 5.968h-.084c-4.933 0-7.775 6.442-7.63 15.131v.032c-.145 8.69 2.697 15.132 7.63 15.132h.083v.669c-7.422.48-17.463-4.857-17.317-15.8v-.033C5.106 10.157 15.147 4.82 22.569 5.3v.669z" fill="#ffffff" />
            <path d="M34.72 22.795l-2.384.954v9.837c-1.342 1.143-4.621 2.925-7.901 3.538v-13.59l-2.385-.801v-.603h12.67v.665z" fill="#ffffff" />
        </g>
    </svg>
</div>
