<!-- thrasher content sits in this div -->
<div class="hundred-days-thrasher hundred-days full">

    <div class='hundred-days__dots'></div>
    <div class='hundred-days__image'></div>
    <div class='hundred-days__logo'>

        <div class='hundred-days__logo standard'>
            <svg width="74" height="36" viewBox="0 0 74 36" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd">
                    <path d="M16.98 17.844c0-9.654 7.826-17.48 17.48-17.48 9.655 0 17.482 7.826 17.482 17.48 0 9.655-7.827 17.482-17.482 17.482-9.654 0-17.48-7.827-17.48-17.482" fill="#169E49" />
                    <path fill="#293678" d="M0 33.807l5.45-1.651V6.169L0 7.492V6.226L11.23.774h4.294v31.382l5.285 1.65v.938H0z" />
                    <path d="M40.536 1.46c6.645 2.468 11.38 8.865 11.38 16.37l-.004.327c-.134 7.292-4.741 13.491-11.194 15.97-6.646-2.467-11.38-8.865-11.38-16.369 0-7.339 4.53-13.62 10.945-16.2z" fill="#293678" opacity=".5" />
                    <path d="M56.551 0c-9.64 0-17.453 7.815-17.453 17.454s7.814 17.453 17.453 17.453c9.64 0 17.454-7.814 17.454-17.453S66.19 0 56.55 0" fill="#293678" />
                </g>
            </svg>
        </div>
        <div class='hundred-days__logo reversed'>
            <svg width="74" height="36" viewBox="0 0 74 36" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd">
                    <path d="M16.98 17.844c0-9.654 7.826-17.48 17.48-17.48 9.655 0 17.482 7.826 17.482 17.48 0 9.655-7.827 17.482-17.482 17.482-9.654 0-17.48-7.827-17.48-17.482" fill="#FFF" />
                    <path fill="#293678" d="M0 33.807l5.45-1.651V6.169L0 7.492V6.226L11.23.774h4.294v31.382l5.285 1.65v.938H0z" />
                    <path d="M40.536 1.46c6.645 2.468 11.38 8.865 11.38 16.37l-.004.327c-.134 7.292-4.741 13.491-11.194 15.97-6.646-2.467-11.38-8.865-11.38-16.369 0-7.339 4.53-13.62 10.945-16.2z" fill="#293678" opacity=".5" />
                    <path d="M56.551 0c-9.64 0-17.453 7.815-17.453 17.454s7.814 17.453 17.453 17.453c9.64 0 17.454-7.814 17.454-17.453S66.19 0 56.55 0" fill="#293678" />
                </g>
            </svg>
        </div>

    </div>
    <div class='hundred-days__headline'>
        <div class='hundred-days__headline__line number counter'>
            <div class='digit digit-2'>
                <div class='position position-1'>1</div>
                <div class='position position-1'>1</div>
                <div class='position position-1'>1</div>
                <div class='position position-1'>1</div>
                <div class='position position-1'>1</div>
                <div class='position position-1'>1</div>
                <div class='position position-1'>1</div>
                <div class='position position-1'>1</div>
                <div class='position position-1'>1</div>
            </div>
            <div class='digit digit-1'>
                <div class='position position-0'>0</div>
                <div class='position position-1'>1</div>
                <div class='position position-2'>2</div>
                <div class='position position-3'>3</div>
                <div class='position position-4'>4</div>
                <div class='position position-5'>5</div>
                <div class='position position-6'>6</div>
                <div class='position position-7'>7</div>
                <div class='position position-8'>8</div>
                <div class='position position-9'>9</div>
            </div>
            <div class='digit digit-0'>
                <div class='position position-0'>0</div>
                <div class='position position-1'>1</div>
                <div class='position position-2'>2</div>
                <div class='position position-3'>3</div>
                <div class='position position-4'>4</div>
                <div class='position position-5'>5</div>
                <div class='position position-6'>6</div>
                <div class='position position-7'>7</div>
                <div class='position position-8'>8</div>
                <div class='position position-9'>9</div>
            </div>
        </div>
        <div class='hundred-days__headline__line days'>Days</div>
        <div class='hundred-days__headline__line to-save'>to save</div>
        <div class='hundred-days__headline__line the'>the</div>
        <div class='hundred-days__headline__line world'>world</div>
    </div>
    <div class='hundred-days__copy'>
        <p><strong>In 99 days</strong> if Trump is re-elected the US will pull out of the Paris agreement now is the time not to waiver on our coverage of the environment</p>
        <a href="https://guardian.ctdonate.org/?INTCMP=gdnwb_mawns_banner_edtrl_Marketing_CharityAppeal_1119_" title="" class="class-name__component-button" data-link-name="">
            <span>Contribute</span>
            <svg class="class-name__icon" width="24" height="22" viewBox="0 0 24 22" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 12.0046H19.6395L11.9377 21.0205L12.939 22L23.6444 11.5023V10.4977L12.939 0L11.9377 0.979452L19.6395 9.99543H0V12.0046Z"></path>
            </svg>
        </a>
    </div>


    <!-- black background roundel -->
    <svg class="hundred-days__roundel" width="42" height="42" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
        <g fill="none" fill-rule="evenodd">
            <path d="M21 0C9.402 0 0 9.402 0 21c0 11.597 9.402 21 21 21s21-9.403 21-21C42 9.402 32.598 0 21 0" fill="#121212" />
            <path d="M24.15 5.269c3.287.423 6.887 2.245 8.296 3.537v5.942h-.743l-7.553-8.82v-.659zM22.57 5.968h-.084c-4.933 0-7.775 6.442-7.63 15.131v.032c-.145 8.69 2.697 15.132 7.63 15.132h.083v.669c-7.422.48-17.463-4.857-17.317-15.8v-.033C5.106 10.157 15.147 4.82 22.569 5.3v.669z" fill="#ffffff" />
            <path d="M34.72 22.795l-2.384.954v9.837c-1.342 1.143-4.621 2.925-7.901 3.538v-13.59l-2.385-.801v-.603h12.67v.665z" fill="#ffffff" />
        </g>
    </svg>
</div>
